{% extends "base.html.twig" %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block title %}{{title}}{% endblock %}

{% block content %}
    {{ include('partials/_navbar.html.twig') }}
    <div class="container">

        <h1>{{ block('title')}}</h1>
        {% if connectedUser %}
            <p>bonjour <strong>{{ connectedUser.username }}</strong></p>
            <figure>
                <img src="./public/uploads/{{ connectedUser.user_image }}" alt="image de profile">
            </figure>
        {% else %}
            <figure>
                <img src="./public/images/p_5_photo.jpg" alt="Une photo de moi">
            </figure>
            <p>{{ html_entity_decode(content) }}</p>

            <h2>Les derniers posts</h2>
            <ul>
                {% for post in latests %}
                    <li style="list-style:none;"><a href="/post/{{ post.slug }}">- {{html_entity_decode(post.title)}}</a></li>
                {% endfor %}
            </ul>

            <h2>Me contacter</h2>
            <div class="container">
                {{ form | raw }}
                <nav class="grid">
                    <ul>
                        <li>
                            <a href="https://fr.linkedin.com/in/ronan-lenouvel-5b85821aa"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" data-supported-dps="24x24" fill="currentColor" class="mercado-match" width="24" height="24" focusable="false">
                            <path d="M20.5 2h-17A1.5 1.5 0 002 3.5v17A1.5 1.5 0 003.5 22h17a1.5 1.5 0 001.5-1.5v-17A1.5 1.5 0 0020.5 2zM8 19H5v-9h3zM6.5 8.25A1.75 1.75 0 118.3 6.5a1.78 1.78 0 01-1.8 1.75zM19 19h-3v-4.74c0-1.42-.6-1.93-1.38-1.93A1.74 1.74 0 0013 14.19a.66.66 0 000 .14V19h-3v-9h2.9v1.3a3.11 3.11 0 012.7-1.4c1.55 0 3.36.86 3.36 3.66z"></path>
                            </svg></a>
                        </li>
                        
                    </ul>
                    <ul></ul>
                    <ul>
                        <li style="float: right;">
                            <a href="https://twitter.com/ronan_lenouvel"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-twitter" viewBox="0 0 16 16">
                            <path d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z"></path>
                          </svg></a>
                        </li>
                    </ul>

                    <ul>
                        <li>
                            <a href="./public/images/curriculum-vitae.pdf">Mon Cv</a>
                        </li>
                    </ul>
                
                </nav>
            </div>
        {% endif %}
        
    </div>
{% endblock content %}
