
{% block footer %}
    <div class="container-fluid grid">
        <div>&copy;Ronan Lenouvel {{date}}</div>
        <div><a href="/posts">Tous les posts</a></div>
    </div>
</body>
</html>
{% endblock footer %}