{% block navbar %}
    {% if connectedUser %}
    <nav class="container-fluid">
        <ul  style="margin: 0 auto;">
            <li><a href="/">Home</a></li>
            {% for category in categoriesCollection %}    
                <li><a href="/category/{{ category.slug }}">{{html_entity_decode(category.title)}}</a></li>
            {% endfor %}
            <li style="list-style: none;"><a href="/user/{{connectedUser.slug}}">mon compte</a></li>
            <li><a href="/logout">deconnexion</a></li>
        </ul>
    </nav>
    {% elseif admin %}
    <nav class="container-fluid">
        <ul  style="margin: 0 auto;">
            <li><a href="/">Home</a></li>
            {% for category in categoriesCollection %}    
                <li><a href="/category/{{ category.slug }}">{{html_entity_decode(category.title)}}</a></li>
            {% endfor %}
            <li style="list-style: none;"><a href="/user/{{connectedUser.slug}}">mon compte</a></li>
            <li style="list-style: none;"><a href="/admin">Admin panel</a></li>
            <li><a href="/logout">deconnexion</a></li>
        </ul>
    </nav>
    {% else %}
    <nav class="container-fluid">
        <ul style="margin: 0 auto;">
            <li>
                <a href="/">Home</a>
            </li>
            {% for category in categoriesCollection %}    
                <li>
                    <a href="/category/{{ category.slug }}">{{html_entity_decode(category.title)}}</a>
                </li>
            {% endfor %}
                <li>
                    <a href="/log-in">Connexion</a>
                    <a href="/register">Enregistrement</a>
                </li>
        </ul>
    </nav>
    {% endif %}
{% endblock navbar %}