{% block userForm %}
<div class="container">
    
    <article>
      {% if image %}
      <figure>
        <label for="image">Image enregistrée</label>
        <img name="image" src="/public/uploads/{{ image }}" alt="avatar">
      </figure>
      {% endif %}
        <h3>Mes infos</h3>
        {{ form | raw}}
      </article>

</div>
{% endblock userForm %}