{% extends "base.html.twig" %}

{% block title %}{{title}}{% endblock %}

{% block head %}
{{ parent() }}
{# mettre du javascript par exemple #}
{% endblock %}

{% block content %}
    {{ include('partials/_navbar.html.twig') }}
    <div class="container">
        <h1>{{ title | raw }}</h1>
        <figure>
            <img src="/../../public/uploads/{{ image }}">
        </figure>
        <p>{{ description | raw }}</p>
        <div>
            <h2>Les posts de la catégorie:</h2>
            <ul>
                {% for data in postData %}
                    <li><a href="../../post/{{ data.slug }}">{{ data.title }}</a>
                        <span>{{ excerpt(html_entity_decode(data.content)) }} ...</span>
                    </li>
                {% endfor %}

            </ul>
        </div>
    </div>
{% endblock %}