{% extends "base.html.twig" %}

{% block title %}{{title}}{% endblock %}

{% block content %}
    {{ message }}
    {{ include('partials/_navbar.html.twig') }}
    <div class="container">
        <h1>{{ title }}</h1>
        <ul>
        {% for category in categoriesCollection %}
            <li><a href="/category/{{ html_entity_decode(category.slug) }}">{{ excerpt(html_entity_decode(category.title)) }}</a></li>
        {% endfor %}
        </ul>

    </div>
{% endblock content %}
