{% extends "base.html.twig" %}
{% block title %}
    {{ title }}
{% endblock title %}

{% block content %}
    <div class="container">
        <h1>Ecrire un commentaire sur {{ title }}</h1>
        {{ form | raw }}
    </div>
{% endblock content %}