{% extends "base.html.twig" %}

{% block title %}
    {{ title }}
{% endblock title %}

{% block content %}
<nav>
    <ul><li>back to home</li></ul>
    <ul>
      <li><h1>{{ title }}</h1></li>
    </ul>
    <ul><li>go somewhere</li></ul>
</nav>
<div class="container">
    {% include "partials/_userForm.html.twig" %}
</div>
{% endblock content %}