{% extends "base.html.twig" %}

{% block title %}{{title}}{% endblock %}

{% block content %}
    {{ include('partials/_navbar.html.twig') }}
    <div class="container">
        {{ form | raw }}
    </div>
{% endblock content %}