{% extends "base.html.twig" %}
{% block title %}
    {{ title }}
{% endblock title %}
{% block content %}
{{ include('partials/_navbar.html.twig') }}
<div class="container">
<h1>Suppression de {{ html_entity_decode(title)}}</h1>
    <div class="form">
        {{ form | raw}}
    </div>
</div>
{% endblock content %}