{% extends "base.html.twig" %}
{% block title %}
    {{ title }}
{% endblock title %}
{% block content %}
{{ include('partials/_navbar.html.twig') }}
    <main class="container">

        <h1>{{ title }}</h1>

        <article>
            {{ form | raw }}
        </article>

    </main>
{% endblock content %}

