{% extends "base.html.twig" %}

{% block title %}{{title}}{% endblock %}

{% block content %}
    {{ message }}
    {{ include('partials/_navbar.html.twig') }}
    <div class="container">
        <h1>{{ title }} :</h1>
        <ul>
        {% for post in poststCollection %}
            <li><a href="/post/{{ html_entity_decode(post.slug) }}">{{ html_entity_decode(post.title) }}</a></li>
        {% endfor %}
        </ul>

    </div>
{% endblock content %}