{% extends "base.html.twig" %}

{% block title %}{{html_entity_decode(title)}}{% endblock %}

{% block content %}
    {{ include('partials/_navbar.html.twig') }}
    {% if is_published == 1 %}
        <div class="container">
            <span style="color: rgb(170, 170, 170); font-size: 0.8rem">Post créé le : {{ createdAt }} par <a href="../../user/{{ ownerSlug }}">{{ owner }}</a></span>
            <h1>{{ html_entity_decode(title) }}</h1>
            <h2> categorie: {{ html_entity_decode(category) }} </h2>
            <figure>
                <img src="/../../public/uploads/{{ image }}">
            </figure>
            <p>{{ html_entity_decode(content) }}</p>

        </div>
    {% else %}
        <div class="container">
            <h1>Ce post est en rédaction :(</h1>
        </div>
    {% endif %}
        <a class="button" href="../../comments/create/{{ slug }}">Commenter</a>
    {# <form action="post">
        <button name="comment" type="submit">Laisser un commentaire</button>
    </form> #}

    {% if comments %}
        <div class="container">
            {% for comment in comments %}

                {% if comment.is_published > 0 %}
                    
                    <label style="font-size: .6rem;">
                        <span>{{comment.created_at}} par {{owner}}</span>
                    </label>
                    <div>
                        <p>{{html_entity_decode(excerpt(comment.title))}}</p>
                        <p>{{html_entity_decode(comment.content)}}</p>
                    </div>
                {% endif %}
                
            {% endfor %}
        </div>
    {% endif %}
{% endblock content %}
