{% extends "base.html.twig" %}

{% block title %}
    {{ title }}
{% endblock title %}

{% block content %}
<div class="container">
     <nav>
         <span><a href="/">Back to home</a></span>
         <ul>
           <li><h1>{{ title }}</h1></li>
         </ul>
         <span><a href="/create/post">Ecrire un article</a></span>
         <span><a href="/user/update/{{slug}}">Editer ses infos</a></span>
     </nav>
    <figure>
        <img src="/public/uploads/{{ image }}" alt="avatar de {{ html_entity_decode(title) }}" srcset="">
    </figure>
    <figcaption>{{ html_entity_decode(title) }} enregistré depuis le : {{ date }} en tant que {{ role }}</figcaption>
    <h2>Biography</h2>
    <p>{{ html_entity_decode(content) }}</p>
 </div>

{% if writtenPosts %}
    <div class="container">
        <table>
            <tr>
                <th>Post</th>
                <th></th>
                <th></th>
            </tr>
            {% for post in writtenPosts %}
            <tr>
                <td><p>{{ post.title }}</p></td>
                <td><a href="../update/post/{{ post.slug }}">Edit</td>
                <td><a href="../delete/post/{{ post.slug }}" style="color: red;">Delete</td>
                </tr>
            {% endfor %}
          </table>
    </div>
{% endif %}
{% endblock content %}