{% extends "base.html.twig" %}
{% block title %}
    {{ title }}
{% endblock title %}

{% block content %}
{% include "partials/_navbar.html.twig" %}
<div class="container">
    {% if admin %}
        <h2>Les catégories</h2>
        <table style="width:100%">
            <tr>
                <th></th>
                <th></th>
                <th>mise à jour le</th>
                <th>Extrait</th>
            </tr>
            {% for category in categories %}
                <tr>
                    <td><a href="delete/category/{{category.slug}}" style="color: red;">Supprimer</a></td>
                    <td><a href="update/category/{{category.slug}}" style="color: #fff;">Modifier</a></td>
                    <td>{{ category.updated_at }}</td>
                    <td>{{ html_entity_decode(excerpt(category.content)) }} ...</td>
                </tr>
            {% endfor %}
        </table>
            
        <h2>Posts en attente de validation :</h2>
        <table style="width:100%">
            <tr>
                <th>Title</th>
                <th>statut</th>
            </tr>
            {% for post in pendingPosts %}
                <tr>
                    <td><a href="update/post/{{post.slug}}">{{ html_entity_decode(post.title) }}</a></td>
                    <td><a href="update/post/{{post.slug}}" style="color: #fff;">Modifier</a></td>

                    <td style="color: yellow;">en attente</td>
                </tr>
            {% endfor %}
        </table>
        
        <h2>Modération :</h2>

        <h3>Posts</h3>
        <table style="width:100%">
            <tr>
                <th></th>
                <th></th>
                <th>mise à jour le</th>
                <th>Extrait</th>
            </tr>
            {% for post in posts %}
                <tr>
                    <td><a href="delete/post/{{post.slug}}" style="color: red;">Supprimer</a></td>
                    <td><a href="update/post/{{post.slug}}" style="color: #fff;">Modifier</a></td>
                    <td>{{ post.updated_at }}</td>
                    <td>{{ html_entity_decode(excerpt(post.content)) }} ...</td>
                </tr>
            {% endfor %}
        </table>

        <h3>Commentaires :</h3>

        <table style="width:100%">
            <tr>
                <th></th>
                <th></th>
                <th>Titre</th>
            </tr>
            {% for comment in pendingComments %}
                <tr>
                    <td><a href="delete/post/{{comment.title}}" style="color: red;">Supprimer</a></td>
                    <td><a href="comments/validate/{{comment.id}}" style="color: #fff;">valider</a></td>
                    <td>{{ html_entity_decode(comment.content) }}</td>
                </tr>
                {% endfor %}
        </table>

        <h2>Création :</h2>
        <ul>
            <li style="list-style: none;"><a href="/create/category">créer un catégorie</a></li>
            <li style="list-style: none;"><a href="create/post">créer un post</a></li>
        </ul>
    {% else %}    
    <h1 style="color:red;">Vous n'avez pas les droits</h1>
    {% endif %}
</div>
{% endblock content %}