<!DOCTYPE html>
<html lang="fr">
<head>
    {% block head %}
       {{ include('partials/_head.html.twig') }}
        <title>{% block title %}Blog{% endblock title %}</title>
    {% endblock %}
</head>
<body>
    {% block content %}
        {% block navabar %}{% endblock navabar %}
    {% endblock content %}
    {% block footer %}
       {{ include('partials/_footer.html.twig') }}
    {% endblock %}
</body>
</html>