{% extends "base.html.twig" %}
{% block content %}
{% include "partials/_navbar.html.twig" %}
<div class="container">
    
    <h1> {{ message }}</h1>
    <figure>
        <img src="/public/images/404.jpg" alt="image 404">
    </figure>

</div>
    
{% endblock content %}